@model SLK.Web.Models.ShopModels.AddEditShopForm
@{
    ViewBag.Title = "New Shop";
}

@section css_plugins
{
    <link href="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
}

<div class="portlet light bordered add-edit-portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">Add New Shop</span>
        </div>
    </div>

    <div class="portlet-body form">        
        @using (Html.BeginForm("New", "Shop", FormMethod.Post, new { enctype = "multipart/form-data", id = "user_new_form", @class = "add-edit-form" }))
        {
            @Html.AntiForgeryToken()
            @*@Html.EditorFor(m => m.ID)*@
            <div class="form-horizontal">
                <div class="form-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.EditorFor(m => m.MainTab)
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Create</button>
                            <a href="@Url.Action("Table")" type="button" class="btn default">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script type="text/javascript" src="/assets/global/plugins/bootstrap-summernote/summernote.min.js"></script>
    <script type="text/javascript" src="~/Scripts/shop.new.js"></script>
 }
