@using SLK.Web.Helpers
@model SLK.Web.Models.ListModel
@{
    ViewBag.Title = "Table";
}

<div class="portlet light portlet-fit portlet-datatable bordered">

    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">Products</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i>
                    <span class="hidden-xs"> Tools </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#Upload" data-toggle="modal"> Import from Excel </a>
                    </li>
                    <li>
                        <a href="javascript:;"> Import from CSV </a>
                    </li>
                    <li>
                        <a href="javascript:;"> Import from XML </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Upload" tabindex="-1" role="Upload" aria-hidden="true">
        <div class="modal-dialog" on>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Select file for uploading</h4>
                </div>
                <form enctype="multipart/form-data" action="Upload" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn green btn-file">
                                        <span class="fileinput-new"> Select file </span>
                                        <span class="fileinput-exists"> Change </span>
                                        <input type="hidden" value="" name="..."><input type="file" name="attachment">
                                    </span>
                                    <span class="fileinput-filename"></span> &nbsp;
                                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                        <input type="submit" value="Upload" class="btn green" />
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @Html.EditorForModel()
</div>