@using SLK.Web.Helpers
@model SLK.Web.Models.ListModel
@{
    ViewBag.Title = "ProductTable";
}

<div class="portlet light portlet-fit portlet-datatable bordered">

    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">Products</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn red btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i>
                    <span class="hidden-xs"> Import/Export </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#Upload" data-toggle="modal"> Import from Excel </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="/Product/Download"> Export to Excel </a>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Upload" tabindex="-1" role="Upload" aria-hidden="true">
        <div class="modal-dialog" on>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Select file for uploading</h4>
                </div>
                <form enctype="multipart/form-data" action="Upload" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn green btn-file">
                                        <span class="fileinput-new"> Select file </span>
                                        <span class="fileinput-exists"> Change </span>
                                        <input type="hidden" value="" name="..."><input type="file" name="attachment">
                                    </span>
                                    <span class="fileinput-filename"></span> &nbsp;
                                    <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                        <input type="submit" value="Upload" class="btn green" />
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    @Html.EditorForModel()
</div>

@section scripts
{
    <script src="~/Scripts/app/data-tables.js" type="text/javascript"></script>
    <script>

        $(setTasksCount());

        $(TableDatatablesAjax.init("/Product/List", @Html.CreateColumnsInfo(ViewData.ModelMetadata.Properties, true)));

        function setTasksCount() {
            $.get('/Product/TasksCount', {}, function callback(data) {
                $('#header_task_bar span.badge')[0].innerText = data.count;
                if (data.count == 1)
                    $('#header_task_bar h3')[0].innerText = '1 task is active';
                else
                    $('#header_task_bar h3')[0].innerText = data.count + ' tasks are active';
            });
        }

        function drawTasks(anyway) {

            var taskdata;

            if (anyway || $.inArray('open', $('#header_task_bar')[0].classList) !== -1) {

                $.ajax({
                    async: false,
                    type: 'GET',
                    url: '/Product/ActiveTasks',
                    success: function (data) {
                        taskdata = data;
                    }
                });

                var list = $('#header_task_bar .dropdown-menu-list')[0];
                list.innerHTML = "";

                for (var i = 0; i < taskdata.count; ++i) {
                    list.innerHTML +=
                        "<li>\
                    <a href='javascript:;'>\
                        <span class='task'>\
                            <span class='desc'>" + taskdata.tasks[i].Caption + "</span><br>\
                            <span class='desc font-blue-soft'>" + taskdata.tasks[i].FileName + "</span><br>\
                            <span class='desc'>" + taskdata.tasks[i].Elapsed + " / " + taskdata.tasks[i].Estimated + "</span>\
                            <span class='percent'>" + taskdata.tasks[i].Progress + "%</span>\
                        </span>\
                        <span class='progress'>\
                            <span style='width: " + taskdata.tasks[i].Progress + "%;' class='progress-bar progress-bar-success' aria-valuenow='98' aria-valuemin='0' aria-valuemax='100'>\
                                <span class='sr-only'>" + taskdata.tasks[i].Progress + "% Complete</span>\
                            </span>\
                        </span>\
                    </a>\
                </li>";
                }
            }

            if (!taskdata) {
                $.ajax({
                    async: false,
                    type: 'GET',
                    url: '/Product/TasksCount',
                    success: function (data) {
                        $('#header_task_bar span.badge')[0].innerText = data.count;
                        if (data.count == 1)
                            $('#header_task_bar h3')[0].innerText = '1 task is active';
                        else
                            $('#header_task_bar h3')[0].innerText = data.count + ' tasks are active';

                        if (data.count) setTimeout(drawTasks, 1000);
                    }
                });
            }
            else {
                $('#header_task_bar span.badge')[0].innerText = taskdata.count;
                if (taskdata.count == 1)
                    $('#header_task_bar h3')[0].innerText = '1 task is active';
                else
                    $('#header_task_bar h3')[0].innerText = taskdata.count + ' tasks are active';

                if (taskdata.count) setTimeout(drawTasks, 1000);
            }
        }
           
    </script>
}