@model object

<div class="select2-holder">
    @Html.DropDownListFor(m => m, (SelectListItem[])ViewData[Functions.GetPopulateAttributeName(ViewData)], new { @class = "form-control simple-dropdown" })
</div>
