@model object

<div class="select2-holder">
    @Html.DropDownListFor(m => m, (SelectListItem[])ViewData["SimpleDropdownList_" + ViewData.TemplateInfo.HtmlFieldPrefix], new { @class = "form-control simple-dropdown" })
</div>
